.imageDropBox {
  .imageDropBox_dropbox {
    width: 100%;
    height: 100%;

    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
